
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div id="navbar" class="navbar">
        <div class="dropdown">
                 <button class="dropbtn">Culture
                    <i class="fa fa-caret-down"></i>
                 </button>
                 <div class="dropdown-content">
                    <ul style="display: block;">
                        <li ><a href="#Greek">Greek</a></li>
                        <li data-filter="Korean"><a href="#">Korean</a></li>
                        <li data-filter="American"><a href="#">American</a></li>
                        <li data-filter="Japanese"><a href="#">Japanese</a></li>
                        <li data-filter="Chinese"><a href="#">Chinese</a></li>
                        <li data-filter="Roman"><a href="#">Roman</a></li>
                        <li data-filter="Dutch"><a href="#">Dutch</a></li>
                        <li data-filter="French"><a href="#">French</a></li>
                        <li data-filter="South Arabian"><a href="#">South Arabian</a></li>
                        <li data-filter="Czech"><a href="#">Czech</a></li>
                        <li data-filter="Spanish"><a href="#">Spanish</a></li>
                    </ul>
                 </div>
                </div>

        <div class="dropdown">
            <button class="dropbtn">Classification
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sculpture</a>
                <a href="#">Prints</a>
                <a href="#">Coins  </a>
                <a href="#">Architectural Elements  </a>
                <a href="#">Paintings </a>
                <a href="#">Jewelry </a>
                <a href="#">Textile Arts </a>
                <a href="#">Photographs </a>
                <a href="#">Stained Glass </a>
                <a href="#">Drawings</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Place
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                    <a href="/collection/Asia">Asia</a>
                    <a href="/collection/Europe" >Europe</a>
                    <a href="/collection/North America">North America</a>
            </div>
        </div>


        <!-- <script>
            window.onscroll = function () { myFunction() };
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;

            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script> -->
    </div>
