<!-- support page of website -->
<div class="board">
<div>
  <img src="https://www.harvardartmuseums.org/assets/images/pages/hero-support-1500.jpg">
</div>

<hr>

<div class="member">
  <div>
    <img src="https://www.harvardartmuseums.org/assets/images/pages/members-675-440.jpg">
  </div>

  <div class="outside">
    <p class="title">
        Members
    </p>
    <p>
      Our state-of-the-art facility provides enhanced opportunities to engage with art. With access to exclusive perks and programs, members enjoy special moments to celebrate and explore our world-class collections
    </p>
  </div>
</div>
<hr>
<div class="member">
  <div>
    <img src="https://www.harvardartmuseums.org/assets/images/pages/fellows-675-440.jpg">
  </div>

  <div class="outside">
    <p class="title">
      Fellows
    </p>
    <p>
      The Fellows are an international community of art lovers who generously support the Harvard Art Museums’ mission to promote knowledge about and appreciation of art through exhibitions, teaching, research, professional training, and public education.
    </p>
  </div>
</div>
<hr>
<div class="member">
  <div>
    <img src="https://www.harvardartmuseums.org/assets/images/pages/corporate-675-440.jpg">
  </div>

  <div class="outside">
    <p class="title">
      Corporate Membership
    </p>

    <p>
      Join as a Corporate Member  and receive complimentary admission passes, access to rent the museums for a private function, and recognition in our annual donor listing and at our yearly corporate event.
    </p>
  </div>
</div>

</div>
