<!-- home page of website within 6 grids -->

<div class="border">
    <div class="grid0">

        <div class="cell-one">
            <img src="https://nrs.harvard.edu/urn-3:HUAM:DDC105003_dynmc?width=400&height=400">
        </div>

        <div class="cell-two">Welcome to&nbsp;<strong> Art Museum Website</strong>!</div>

        <div class="cell-three">Find Your Interested&nbsp;<strong>Events and Collections</strong>!</div>

        <div class="cell-four">
            <img src="https://nrs.harvard.edu/urn-3:HUAM:DDC105926_dynmc?width=376&height=500">
        </div>

        <div class="cell-five">
            <img src="https://ids.lib.harvard.edu/ids/view/17358149?width=512&height=512">
        </div>

        <div class="cell-six"><strong>Start&nbsp;</strong> Your Visit Now!</div>

    </div>
</div>
